html,body {
  font-family: 'Open Sans', serif;
  font-size: 14px;
  font-weight: 300;
  background-image: url(http://10.80.16.12/sgdo/imagens/Rio-Amazonas-e-suas-curvas.jpg);
  background-size: auto;
  background-repeat: no-repeat;
}
.hero.is-success {
  background: #f2f7fa;
}
.hero .nav, .hero.is-success .nav {
  -webkit-box-shadow: none;
  box-shadow: none;
}
input {
  font-weight: 300;
}
p {
  font-weight: 700;
}
img.ca {
	opacity:0.65;
	-moz-opacity: 0.65;
	filter: alpha(opacity=65);
	}